<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" class="needs-validation" novalidate  enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" type="text" class="form-control" required />
        <div class="valid-feedback">
          you Choose good title.
        </div>
        <div class="invalid-feedback">
          Please choose a Title.
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" name="listing[description]" required></textarea><div class="valid-feedback">
          you Choose good Description.
        </div>
        <div class="invalid-feedback">
          Please choose a shot Description.
        </div>
        
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Uplaod Listing Image</label>
        <input class="form-control" name="listing[image]" type="file"  />
        required
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input name="listing[price]" class="form-control" type="number" required />
          <div class="invalid-feedback">
            Please choose a Valid price.
          </div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input name="listing[country]" class="form-control" type="text" required />
          <div class="valid-feedback">
            you Choose good Country.
          </div>
          <div class="invalid-feedback">
            Please choose a Country.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input class="form-control" name="listing[location]" type="text" required />
        <div class="valid-feedback">
          you Choose good Location.
        </div>
        <div class="invalid-feedback">
          Please choose a Location.
        </div>
      </div>

      <button class="btn btn-dark add-btn mt-3">Add</button>
    </form>
  </div>
</div>